.important,
h1,
h2 {
  font-weight: bold;
}
header {
  background: #084081;
  color: #ffffff;
}
nav {
  background-color: #4eb3d3;
}
nav ul {
  display: inline;
  width: 33%;
}
nav ul li {
  list-style-type: none;
  display: inline;
  width: 33%;
}
@media (max-width: 768px - 1px) {
  main {
    width: 100%;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    font-weight: 12px;
  }
  img {
    width: 421px;
    margin: 0px 30px;
  }
}
@media (min-width: 768px) {
  main {
    width: 75%;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #ffffff;
    color: #000000;
  }
  img {
    width: 708px;
    margin: 0px 30px;
  }
}
@media (min-width: 1030px) {
  main {
    width: 75%;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #ffffff;
    color: #000000;
  }
  img {
    width: 970px;
    margin: 0px 30px;
  }
}
@media (min-width: 1240px) {
  main {
    width: 75%;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #ffffff;
    color: #000000;
  }
  img {
    width: 1180px;
    margin: 0px 30px;
  }
}
