.important,
h1,
h2 {
  font-weight: bold;
  color: #ffffff;
}
@media (max-width: 768px - 1px) {
  main {
    width: 481px;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #084081;
    color: #ffffff;
    font-weight: 12px;
  }
  img {
    width: 421px;
    margin: 0px 30px;
  }
}
@media (min-width: 768px) {
  main {
    width: 768px;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #084081;
    color: #ffffff;
  }
  img {
    width: 708px;
    margin: 0px 30px;
  }
}
@media (min-width: 1030px) {
  main {
    width: 1030px;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #084081;
    color: #ffffff;
  }
  img {
    width: 970px;
    margin: 0px 30px;
  }
}
@media (min-width: 1240px) {
  main {
    width: 1240px;
    margin: auto;
    border: 1px solid #6f4b4c;
    padding: 10px;
    background: #084081;
    color: #ffffff;
  }
  img {
    width: 1180px;
    margin: 0px 30px;
  }
}
