@import url("variable.less");
 

.important, h1, h2 {
	font-weight: bold;
}

header {
	background : @color-primary;
	color: @color-white;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width : 100%;;
	font-size: 20px;
}

nav {
	background-color: @color-tertiary;
	text-align: center;
	ul {
		display: inline;

		li {
			list-style-type : none;
			display: inline;
			margin-right: 10%;
			color: @color-white;
			text-decoration: none;
		}
	}
}

@media (max-width: ~"@{size-tablet} - 1px") {
	main{
		width: 100%;
		margin: auto;
		border: 1px solid #6f4b4c;
		padding: 10px;
		background: @color-white;
		color : @color-black;
		font-weight: @font-mobile;
	}

	img {
		width: @size-mobile - 60px;
		margin:0px 30px;
	} 

	body {
		font-size: @font-mobile;
	}
}

@media (min-width: ~"@{size-tablet}") {
	main{
		width: 75%;
		margin: auto;
		border: 1px solid #6f4b4c;
		padding: 10px;
		background: @color-white;
		color : @color-black;  
	} 

	img {
		width: @size-tablet - 60px;
		margin:0px 30px;
	}   

	body {
		font-size: @font-tablet;
	}
}

@media (min-width: ~"@{size-desktop}") {
	main{
		width: 75%;
		margin: auto;
		border: 1px solid #6f4b4c;
		padding: 10px;
		background: @color-white;
		color : @color-black; 
	} 

	img {
		width: @size-desktop - 60px;
		margin:0px 30px;
	}  

	body {
		font-size: @font-desktop;
	}
}

@media (min-width: ~"@{size-large}") {
	main{
		width: 75%;
		margin: auto;
		border: 1px solid #6f4b4c;
		padding: 10px;
		background: @color-white;
		color : @color-black;   
	}  

	img {
		width: @size-large - 60px;
		margin:0px 30px;
	} 

	body {
		font-size: @font-large;
	}
}
